<div class="container">
  <div class="jumbotron">
    <h1>Welcome to LightReader</h1>
    <p class="lead">A Lighthouse utility with an insatiable appetite for accessibility audits.</p>
    <hr>
    <p>Run an audit on specific page or an entire site and then view the results. </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get started</a>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="min-height:200px;">
      <div class="card-body">
        <h5 class="card-title">Run an audit</h5>
        <p class="card-text">Run an audit on a single page or an entire site. Just provide
        a URL to the page or the URL to the sitemap.</p>
        <a href="/audit" class="btn btn-primary">Run an audit</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="min-height:200px;">
      <div class="card-body">
        <h5 class="card-title">View results</h5>
        <p class="card-text">View your audit results here.  Identify issues and rerun audits by page.</p>
        <a href="/results" class="btn btn-primary">See results</a>
      </div>
    </div>
  </div>
</div>

</div>
